@font-face {
  font-family: MuseoCyrl-900;
  src: url("../fonts/museo/MuseoSansCyrl-900.woff") format("woff"), url("../fonts/museo/MuseoCyrl-900.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: MuseoCyrl-700;
  src: url("../fonts/museo/MuseoSansCyrl-700.woff") format("woff"), url("../fonts/museo/MuseoCyrl-700.woff") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: Gotham Pro-Black;
  src: url("../fonts/Gotha/GothamPro-Black.woff") format("woff"), url("../fonts/museo/GothamPro-Black.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: Gotham Pro;
  src: url("../fonts/Gotha/GothamPro.woff") format("woff"), url("../fonts/Gotha/GothamPro.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: Gotham Pro-Bold;
  src: url("../fonts/Gotha/GothamPro-Bold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: Gotha Pro-Bla;
  src: url("../fonts/Gotha/GothaProBla.woff") format("woff"), url("../fonts/Gotha/GothaProBla.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: Gotha Pro-Light;
  src: url("../fonts/Gotha/GothaProLig.woff") format("woff"), url("../fonts/Gotha/GothaProLig.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: Gotha Pro-Medium;
  src: url("../fonts/Gotha/GothaProMed.woff") format("woff"), url("../fonts/Gotha/GothaProMed.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: Gotha Pro-Regular;
  src: url("../fonts/Gotha/GothaProReg.woff") format("woff"), url("../fonts/Gotha/GothaProReg.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0; }

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
  outline: none; }

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
  /* 2 */ }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none; }

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
  outline: none; }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
  outline: none; }

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
  outline: none; }

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: none; }

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline; }

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto; }

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block; }

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item; }

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none; }

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none; }

.card__button {
  padding: 0.85rem 1.44rem;
  font-family: Gotham Pro-black;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 0.06rem;
  font-weight: 400;
  color: #2d3a4b;
  background-color: transparent;
  border: 1px solid #3a4656;
  border-radius: 1.5rem;
  cursor: pointer; }
  .card__button:hover {
    color: #ffffff;
    background-color: #2d3a4b; }

.button:active {
  outline: none !important; }

.button:clicked {
  outline: none !important; }

.button:checked {
  outline: none !important; }

.button:focus {
  outline: none !important; }

.button__zoom {
  background: transparent;
  border: none !important;
  outline: none !important; }
  .button__zoom:hover {
    border: none !important;
    outline: none !important; }
  .button__zoom:active {
    border: none !important;
    outline: none !important; }
  .button__zoom:clicked {
    border: none !important;
    outline: none !important; }
  .button__zoom:checked {
    border: none !important;
    outline: none !important; }
  .button__zoom:focus {
    outline: none !important;
    border: none !important; }

.button__cart {
  background: transparent;
  border: none !important;
  outline: none !important; }
  .button__cart:active {
    border: none !important;
    outline: none !important; }
  .button__cart:clicked {
    border: none !important;
    outline: none !important; }
  .button__cart:checked {
    border: none !important;
    outline: none !important; }
  .button__cart:focus {
    outline: none !important;
    border: none !important; }

.button__heart {
  background: transparent;
  border: none !important;
  outline: none !important; }
  .button__heart:active {
    border: none !important;
    outline: none !important; }
  .button__heart:clicked {
    border: none !important;
    outline: none !important; }
  .button__heart:checked {
    border: none !important;
    outline: none !important; }
  .button__heart:focus {
    outline: none !important;
    border: none !important; }
  .button__heart--left {
    padding-right: 0.2rem; }

#user-email-error {
  position: absolute;
  bottom: -1.5rem;
  left: 1.8rem;
  color: #ff9f9f;
  font-family: Gotham Pro; }

.scroll-up__wrap {
  display: flex;
  justify-content: center;
  align-items: flex-end; }

.scroll-up__button {
  display: block;
  position: relative;
  width: 30px;
  height: 30px;
  border: 1px solid #454545;
  cursor: pointer; }
  .scroll-up__button:hover {
    background-color: #ffffff; }

.scroll-up__arrow {
  position: absolute;
  display: flex;
  left: 50%;
  margin-left: -1px;
  margin-top: -7px;
  border-top-left-radius: 1px;
  border-top-right-radius: 1px;
  border: none;
  top: 50%;
  width: 2px;
  height: 14px;
  background-color: #454545; }
  .scroll-up__arrow::before, .scroll-up__arrow::after {
    content: '';
    width: 5px;
    height: 6px;
    background-color: #454545; }
  .scroll-up__arrow::before {
    transform-origin: top;
    transform: rotate(-45deg) translate(0.01px, 1px); }
  .scroll-up__arrow::after {
    transform-origin: top;
    transform: rotate(45deg) translate(0.08px, 1px); }

.container {
  position: relative;
  width: 90%;
  max-width: 1179px;
  margin: auto; }

.section__wrapper {
  position: relative;
  width: 98%;
  max-width: 1331px;
  margin: auto; }

.row {
  display: flex;
  flex-wrap: wrap; }

.col-50 {
  width: 50%; }

.col-25 {
  width: 25%; }

*, *::after, *::before {
  box-sizing: border-box; }

html {
  font-size: 14px; }

body {
  margin: 0;
  padding: 0;
  font-weight: 400; }

img {
  max-width: 100%; }

.section {
  position: relative;
  padding: 11rem 0; }
  .section__hero {
    background-color: #5a52a5;
    width: 100%;
    height: 100%;
    min-height: 56.28rem; }
  .section__top-products {
    padding: 11rem 0 9.7rem; }
  .section__shop {
    padding: 10.8rem 0 11rem; }
  .section__offers {
    padding: 9.5rem 0; }
  .section-title {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .section-title__heading {
      margin: 0;
      text-align: center;
      margin-bottom: 2.16rem;
      font-family: Gotham Pro-Bold;
      font-size: 1.8571rem;
      font-weight: 700;
      line-height: 1.5714rem;
      text-transform: uppercase;
      color: #2d3a4b;
      letter-spacing: 0.32rem;
      padding-left: 0.3rem; }
      .section-title__heading--light {
        color: #ffffff; }
    .section-title__text {
      margin: 0;
      text-align: center;
      color: #40494e;
      font-size: 1rem;
      font-family: Gotham Pro;
      line-height: 1.8571rem;
      max-width: 41rem;
      font-weight: 400;
      letter-spacing: 0.005rem; }
      .section-title__text--light {
        color: #ffffff; }
  .section__news {
    padding-bottom: 11.3rem; }
  .section__footer {
    padding: 7rem 0 0; }

.rouble--pink {
  width: 9px; }

.swiper-container2 {
  overflow: hidden; }

.product-info {
  font-size: 0.9286rem;
  font-family: Gotham Pro;
  font-weight: 700;
  line-height: 1.86rem;
  letter-spacing: 0.01rem; }

.product-card {
  display: flex;
  flex-direction: column;
  align-items: center; }

.zoom-open {
  overflow: hidden; }

.header {
  background-color: transparent;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 500;
  width: 100%; }
  .header--purple {
    background-color: #5a52a5; }
  .header__title {
    margin: 0;
    margin-top: 0.2rem; }
  .header__menu {
    padding: 3.35rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .header__menu--purple {
      padding: 1.3rem 0 0.8rem 0; }

.menu__nav {
  width: 100%;
  max-width: 45.9rem;
  margin-left: 17.4rem;
  display: flex;
  justify-content: space-around;
  padding-bottom: 0.5rem; }

.menu__button {
  display: none; }

.logo__link {
  position: relative; }
  .logo__link:hover::after {
    position: absolute;
    left: 0;
    top: 2.5rem;
    content: '';
    display: inline-block;
    width: 95%;
    height: 2px;
    background-color: #ffffff; }

.nav__link {
  position: relative;
  color: #ffffff;
  font-family: Gotham Pro;
  letter-spacing: 0.18rem;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 700; }
  .nav__link:hover::after {
    position: absolute;
    left: 0;
    top: 1.9rem;
    content: '';
    display: inline-block;
    width: 96%;
    height: 2px;
    background-color: #ffffff; }

.links {
  width: 100%;
  max-width: 7.8rem;
  display: flex;
  justify-content: space-between; }
  .links__item {
    position: relative; }
    .links__item:hover::after {
      position: absolute;
      left: 0;
      top: 2rem;
      content: '';
      display: inline-block;
      width: 95%;
      height: 2px;
      background-color: #ffffff; }
  .links__user, .links__cart, .links__search {
    position: relative;
    width: 22px; }

.slide--first {
  background: url("../img/slide-first-bg.jpg") no-repeat center/230%; }

.slide--second {
  background: url("../img/slide-second-bg.jpg") no-repeat center/230%; }

.slide--third {
  background: url("../img/slide-third-bg.jpg") no-repeat center/230%; }

.swiper-slide__first {
  background: url("../img/slide-first-bg.jpg") no-repeat center; }

.swiper-slide__second {
  background: url("../img/slide-second-bg.jpg") no-repeat center; }

.swiper-slide__third {
  background: url("../img/slide-third-bg.jpg") no-repeat center; }

.swiper-slide-prev-preview {
  width: 100px;
  height: 100px;
  z-index: 160;
  opacity: 0;
  visibility: hidden; }
  .swiper-slide-prev-preview--active {
    opacity: 1;
    visibility: visible; }

.swiper-slide-next-preview {
  width: 100px;
  height: 100px;
  z-index: 160;
  opacity: 0;
  visibility: hidden; }
  .swiper-slide-next-preview--active {
    opacity: 1;
    visibility: visible; }

.swiper-slide__text {
  position: relative;
  z-index: 5;
  padding-top: 10.7rem;
  text-align: center;
  width: 100%;
  max-width: 79rem;
  padding-right: 0.5rem; }

.swiper-slide__heading {
  margin: 0;
  font-size: 1.45rem;
  font-family: Gotham Pro;
  color: #ffffff;
  font-weight: 400;
  padding-right: 0.6rem; }

.swiper-slide__description {
  margin-top: 3.2rem;
  font-family: MuseoCyrl-700;
  font-size: 5.5rem;
  text-transform: uppercase;
  letter-spacing: 0.52rem;
  color: #ffffff; }
  .swiper-slide__description--big {
    font-family: MuseoCyrl-900;
    font-size: 11.5rem;
    letter-spacing: -0.35rem;
    word-spacing: 0.58rem;
    line-height: 12.3rem;
    padding-right: 0.8rem; }

.swiper-slide__price {
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 35.5rem;
  margin-top: -3.5rem; }

.swiper-slide__link {
  padding: 1.35rem 3.65rem;
  font-family: Gotham Pro-Black;
  font-size: 1.23rem;
  letter-spacing: 0.07rem;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  background-color: #1a2330;
  margin-left: 0.5rem; }
  .swiper-slide__link:hover {
    background-color: #ffffff;
    color: #aaaaaa; }

.swiper-slide__pricetag {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  font-family: Gotham Pro-Black;
  color: #ffffff;
  font-size: 4.2rem;
  width: 100%;
  max-width: 14rem;
  letter-spacing: -0.02rem; }

.swiper-slide__sup {
  font-family: Gotham Pro;
  font-size: 1.38rem;
  padding: 0.48rem 0.7rem 0 0; }

.swiper-slide__currency {
  position: relative;
  font-family: Gotham Pro;
  font-size: 1.5rem;
  font-weight: 700;
  padding: 2.7rem 1.3rem 0 0; }

.swiper-button-prev1, .swiper-button-next1 {
  outline: none;
  border: none;
  top: 47%;
  margin-top: 0; }

.swiper-button-prev1 {
  position: static;
  background: rgba(45, 58, 75, 0.6) url("../img/arrow-prev.svg") no-repeat center;
  width: 100px;
  height: 100px; }
  .swiper-button-prev1-wrap {
    position: absolute;
    display: flex;
    height: 100px;
    width: 200px;
    top: 47%;
    left: 0; }
  .swiper-button-prev1:hover {
    background: #ffffff url("../img/arrow-prev-hover.svg") no-repeat center; }
  .swiper-button-prev1::after {
    display: none; }

.swiper-button-next1 {
  position: static;
  width: 100px;
  height: 100px;
  background: rgba(45, 58, 75, 0.6) url("../img/arrow-next.svg") no-repeat center; }
  .swiper-button-next1-wrap {
    position: absolute;
    display: flex;
    justify-content: flex-end;
    height: 100px;
    width: 200px;
    top: 47%;
    right: 0; }
  .swiper-button-next1:hover {
    background: #ffffff url("../img/arrow-next-hover.svg") no-repeat center; }
  .swiper-button-next1::after {
    display: none; }

.swiper1-slide {
  padding: 10rem 0 13.6rem;
  display: flex;
  justify-content: center;
  align-items: center; }

.product__wrap {
  display: flex;
  flex-wrap: wrap; }

.product__card {
  display: flex;
  flex-basis: 50%;
  flex-direction: column; }
  .product__card--left {
    padding: 2.1429rem 0 6.8rem 8.6429rem;
    align-items: flex-start; }
  .product__card--right {
    padding: 2.1429rem 8.6429rem 6.8rem 0;
    align-items: flex-end; }
  .product__card--blue {
    background-color: #f3f7f9; }

.product-card__image-wrap {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content; }

.card__text {
  margin-bottom: 2.1rem; }
  .card__text--left {
    display: flex;
    flex-direction: column;
    align-items: flex-end; }
  .card__text--right {
    display: flex;
    flex-direction: column;
    align-items: flex-start; }

.card__image-wrap {
  margin-bottom: 1.7rem; }

.card__pricetag {
  display: flex;
  font-size: 1.2857rem;
  font-family: Gotham Pro-Black;
  line-height: 2rem;
  font-weight: 400;
  color: #ef50a2;
  margin-bottom: 0.8rem; }

.card__currency {
  display: flex;
  padding: 0 0.3571rem 0.25rem 0; }

.card__heading {
  text-transform: uppercase;
  font-family: Gotham Pro-Bold;
  font-weight: 700;
  font-size: 1.5rem;
  letter-spacing: 0.06rem;
  margin: 0;
  margin-bottom: 1.2rem; }

.product-card__heading {
  color: #2d3a4b;
  font-family: Gotham Pro-Bold;
  font-size: 1.5714rem;
  font-weight: 900;
  line-height: 1.5714rem;
  text-transform: uppercase;
  letter-spacing: 0.19rem;
  padding-left: 0.2rem; }

.product-card__text {
  display: flex;
  flex-direction: column;
  align-items: center; }

.product-card__image-wrap {
  position: relative;
  margin-bottom: 0.4rem;
  z-index: 1;
  height: 100%; }

.product-card__heading {
  margin-bottom: 1rem; }

.product-card__info-wrap {
  margin-bottom: 1.4rem; }

.top-products__section-title {
  margin-bottom: 5.75rem; }

.swiper2-button-next__wrap {
  position: relative;
  display: inline-block;
  justify-content: center;
  align-items: center;
  margin-right: 0;
  width: 38px;
  height: 38px; }

.swiper2-button-prev__wrap {
  position: relative;
  display: inline-block;
  justify-content: center;
  align-items: center;
  margin-left: 0;
  width: 38px;
  height: 38px; }

.swiper-button-prev2, .swiper-button-next2 {
  outline: none;
  border: none; }

.swiper-button-prev2 {
  left: 0;
  top: 52.5%;
  background: url("../img/arrow-prev2.svg") no-repeat center;
  width: 38px;
  height: 38px;
  border: 1px solid black; }
  .swiper-button-prev2:hover {
    background-color: #e8e9ea; }
  .swiper-button-prev2::after {
    display: none; }

.swiper-button-next2 {
  right: 0.1rem;
  top: 52.5%;
  width: 38px;
  height: 38px;
  background: url("../img/arrow-next2.svg") no-repeat center;
  border: 1px solid black; }
  .swiper-button-next2:hover {
    background-color: #e8e9ea; }
  .swiper-button-next2::after {
    display: none; }

.card__links-wrap {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%; }
  .card__links-wrap::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: #5a52a5;
    opacity: 0.7;
    z-index: 10; }

.wrap--active {
  opacity: 1;
  visibility: visible; }

.card__links {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 45.5%;
  z-index: 50;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 8.1rem; }

.icon__heart {
  cursor: pointer;
  outline: none; }
  .icon__heart:hover {
    background: url("../img/heart-hover.svg") no-repeat center; }

.icon__zoom {
  cursor: pointer;
  outline: none; }
  .icon__zoom:hover {
    background: url("../img/zoom-hover.svg") no-repeat center; }

.icon__cart {
  cursor: pointer;
  outline: none; }
  .icon__cart:hover {
    background: url("../img/cart-hover.svg") no-repeat center; }

.news {
  background-color: #f7f7f7; }
  .news__card {
    display: flex;
    flex-direction: column;
    color: #2d3a4b;
    padding-top: 0.3rem; }
    .news__card--right {
      position: relative;
      padding-left: 7.2rem; }
      .news__card--right::before {
        position: absolute;
        content: '';
        left: 0;
        top: -1.5rem;
        height: 369px;
        width: 1px;
        background-color: #d1d5db; }
  .news__section-title {
    margin-bottom: 8rem; }
  .news-title__text {
    max-width: 45rem; }
  .news__month {
    margin-bottom: 2.3rem;
    font-family: Gotham Pro-Bold;
    font-size: 1.0714rem;
    line-height: 2rem;
    letter-spacing: -0.0214rem; }
  .news__date {
    font-family: Gotham Pro-Black;
    font-size: 5.7143rem;
    line-height: 2rem;
    text-transform: uppercase;
    letter-spacing: -0.1143rem;
    margin-bottom: 1.5rem; }
  .news__heading {
    font-size: 1.5714rem;
    font-family: Gotham Pro-Bold;
    text-transform: uppercase;
    letter-spacing: 0.17rem;
    margin-bottom: 1.6rem; }
  .news__text {
    max-width: 38.3571rem;
    padding: 0 1rem 0 0;
    font-family: Gotham Pro;
    font-size: 0.9286rem;
    line-height: 1.88rem;
    letter-spacing: 0.005rem;
    margin: 0;
    margin-bottom: 1.8rem; }
  .news__link {
    width: 100%;
    max-width: 8rem;
    text-decoration: none;
    color: #333333;
    font-family: Gotham Pro;
    font-weight: 700;
    line-height: 2rem;
    letter-spacing: -0.01rem; }
    .news__link:hover {
      color: #ef50a2; }

.shop__content {
  display: flex;
  flex-direction: column;
  align-items: center; }

.shop-title__heading {
  margin-bottom: 2.3rem; }

.shop-title__text {
  max-width: 66.8571rem; }

.shop__section-title {
  margin-bottom: 4.4rem; }

.shop__socials {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 9.5rem; }

.socials {
  height: 18px;
  width: 17px; }
  .socials__vk {
    width: 11px;
    background: url("../img/vk-icon.png") no-repeat center; }
    .socials__vk:hover {
      background: url("../img/vk-hover-icon.png") no-repeat center; }
  .socials__facebook {
    background: url("../img/facebook-icon.png") no-repeat center; }
    .socials__facebook:hover {
      background: url("../img/facebook-hover-icon.png") no-repeat center; }
  .socials__twitter {
    background: url("../img/twitter-icon.png") no-repeat center; }
    .socials__twitter:hover {
      background: url("../img/twitter-hover-icon.png") no-repeat center; }
  .socials__ok {
    background: url("../img/ok-icon.png") no-repeat center; }
    .socials__ok:hover {
      background: url("../img/ok-hover-icon.png") no-repeat center; }
  .socials__youtube {
    background: url("../img/youtube-icon.png") no-repeat center; }
    .socials__youtube:hover {
      background: url("../img/youtube-hover-icon.png") no-repeat center; }

.offers {
  background-color: #5a52a5; }
  .offers-title__text {
    max-width: 45.9286rem;
    margin-bottom: 3.5rem; }
  .offers__content {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .offers__button {
    color: #ffffff;
    border: 1px solid #ffffff;
    border-radius: 1.9286rem;
    background-color: #5a52a5;
    font-family: Gotham Pro-Bold;
    text-transform: uppercase;
    line-height: 1.5714rem;
    padding: 1.1rem 3rem;
    font-size: 1.2857rem;
    cursor: pointer; }
    .offers__button:hover {
      background-color: #8076dd; }
  .offers__form {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 56.5rem; }
    .offers__form-email {
      width: 100%;
      max-width: 38.5714rem;
      text-decoration: none;
      border: none;
      background-color: #ffffff;
      border-radius: 1.9286rem;
      padding: 1.41rem 1.9286rem 1.2rem;
      outline: none;
      font-family: Gotham Pro;
      font-size: 1.1429rem;
      font-weight: 700; }
      .offers__form-email:focus {
        outline: none; }
      .offers__form-email::-moz-placeholder {
        font-family: Gotham Pro;
        font-size: 1.1429rem;
        font-weight: 700;
        color: #8e89be; }
      .offers__form-email:-ms-input-placeholder {
        font-family: Gotham Pro;
        font-size: 1.1429rem;
        font-weight: 700;
        color: #8e89be; }
      .offers__form-email::-ms-input-placeholder {
        font-family: Gotham Pro;
        font-size: 1.1429rem;
        font-weight: 700;
        color: #8e89be; }
      .offers__form-email::placeholder {
        font-family: Gotham Pro;
        font-size: 1.1429rem;
        font-weight: 700;
        color: #8e89be; }
  .offers__email-wrap {
    width: 100%;
    height: 100%;
    position: relative; }

.footer {
  background-color: #171e27; }
  .footer__contacts {
    display: flex;
    flex-direction: column;
    max-width: 240px; }
  .footer__icon {
    margin-right: 1rem; }
  .footer__content {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 240px;
    padding-left: 5.2rem; }
    .footer__content--right {
      padding-left: 5.8rem; }
  .footer__main-heading {
    margin-bottom: 1.6rem; }
  .footer__heading {
    font-family: Gotham Pro;
    font-weight: 900;
    line-height: 2rem;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    color: #ffffff;
    margin-bottom: 2.2rem; }
  .footer__link {
    text-decoration: none;
    color: #999999;
    font-family: Gotham Pro;
    font-size: 0.9286rem;
    font-weight: 400;
    line-height: 2.5714rem;
    margin-bottom: 0.09rem; }
    .footer__link:hover {
      color: #ffffff; }
    .footer__link--left {
      display: flex;
      line-height: 1.8571rem;
      margin-bottom: 1.8rem; }
      .footer__link--left::before {
        content: '';
        width: 16px;
        height: 16px;
        margin-right: 1rem; }
  .footer__main-page {
    margin-bottom: 0.6rem; }
  .footer__adress::before {
    margin-right: 1.2rem;
    background: url("../img/location.png") no-repeat center; }
  .footer__phone::before {
    margin-top: 0.3rem;
    background: url("../img/call.png") no-repeat center; }
  .footer__mail::before {
    margin-top: 0.3rem;
    background: url("../img/mail.png") no-repeat center; }
  .footer__skype::before {
    margin-top: 0.25rem;
    background: url("../img/skype.png") no-repeat center; }
  .footer__policy {
    color: #999999;
    font-family: Gotham Pro;
    font-weight: 400;
    font-size: 0.9286rem;
    line-height: 2.5714rem;
    letter-spacing: 0.009rem; }
    .footer__policy-wrap {
      display: flex;
      justify-content: center;
      align-items: center;
      padding-top: 3.3rem;
      margin-bottom: 3.85rem; }

.zoom {
  opacity: 0;
  visibility: hidden;
  position: fixed;
  z-index: 199;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(26, 35, 48, 0.3);
  z-index: 999; }
  .zoom--visible {
    opacity: 1;
    visibility: visible; }
  .zoom__dialog {
    margin-left: 1rem;
    margin-right: 1rem;
    position: relative;
    background-color: transparent;
    width: 100%;
    max-width: 622px; }
  .zoom__close {
    position: absolute;
    right: -54px;
    top: 0;
    width: 2.5rem;
    height: 2.5rem;
    background: transparent url("../img/close.svg") no-repeat center/112%;
    border: none;
    cursor: pointer;
    outline: none; }
    .zoom__close:hover {
      background: url("../img/close-hover.svg") no-repeat center/112%; }
  .zoom__image-wrap {
    margin: auto;
    position: relative;
    width: 100%;
    max-width: 567px;
    height: 100%; }

.cart__modal {
  position: absolute;
  opacity: 0;
  visibility: hidden;
  right: 0;
  top: 103px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 27px 29px 20px 29px;
  z-index: 256;
  background-color: #ffffff;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  width: 100%;
  max-width: 350px; }
  .cart__modal--visible {
    opacity: 1;
    visibility: visible; }
  .cart__modal::before, .cart__modal::after {
    content: '';
    position: absolute;
    right: 2.95rem;
    top: -22px;
    border: 12px solid transparent;
    border-bottom: 12px solid #ffffff; }

.cart__product {
  display: flex;
  margin-bottom: 2.02rem;
  width: 100%; }
  .cart__product-count {
    font-size: 0.8571rem;
    font-weight: 500;
    line-height: 28px;
    text-transform: uppercase; }
    .cart__product-count-value {
      font-size: 0.8571rem;
      font-weight: 500;
      line-height: 28px;
      text-transform: uppercase; }

.cart__currency {
  width: 5px;
  height: 5px; }
  .cart__currency--big {
    width: 8px;
    padding-left: 0.4rem; }

.cart__text {
  display: flex;
  flex-direction: column;
  font-family: Gotham Pro-Bold;
  color: #252525;
  margin-left: 1.1429rem; }
  .cart__text-heading {
    margin: 0;
    margin-bottom: 1.12rem;
    max-width: 11.39rem;
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.5714rem;
    text-transform: uppercase;
    letter-spacing: 0.05rem; }

.cart__pricetag {
  font-size: 0.8571rem;
  font-weight: 700;
  line-height: 1rem;
  margin-bottom: 0; }

.cart__image-wrap {
  border: 1px solid #ededee;
  width: 100%;
  max-width: 97px;
  height: 97px;
  display: flex;
  justify-content: center;
  align-items: center; }

.cart__sum {
  position: relative;
  display: flex;
  align-items: center;
  padding: 0.2rem 0 0.4rem;
  margin-bottom: 2.1rem; }
  .cart__sum::before, .cart__sum::after {
    position: absolute;
    content: '';
    width: 292px;
    height: 1px;
    background-color: #e6e6e6; }
  .cart__sum::before {
    top: 0;
    left: -48%; }
  .cart__sum::after {
    bottom: 0;
    left: -48%; }

.cart__total-price {
  font-family: Gotham Pro-Bold;
  text-transform: uppercase;
  font-size: 1.1429rem;
  line-height: 2rem;
  letter-spacing: 0.1143rem; }
  .cart__total-price-value {
    padding-left: 0.35rem;
    font-family: Gotham Pro-Bold;
    font-size: 1.1429rem;
    letter-spacing: 1.6px; }

.cart__button-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%; }

.cart__button-go-to-cart {
  text-transform: uppercase;
  text-decoration: none;
  font-family: Gotham Pro-Bold;
  font-weight: 700;
  color: #ffffff;
  background-color: #1a2330;
  padding: 1.1rem 1.8571rem; }

.cart__button-confirm {
  text-transform: uppercase;
  text-decoration: none;
  font-family: Gotham Pro-Bold;
  font-weight: 700;
  color: #ffffff;
  background-color: #ef50a2;
  padding: 1.1rem 1.8571rem; }

.rouble-icon {
  width: 8px; }
  .rouble-icon--big {
    width: 11px; }

.search {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  z-index: 199;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  max-height: 903px;
  background-color: rgba(90, 82, 165, 0.9);
  z-index: 999; }
  .search--visible {
    opacity: 1;
    visibility: visible; }
  .search__dialog {
    position: relative;
    width: 100%;
    max-width: 891px;
    height: 100%;
    max-height: 248px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-left: 20rem;
    margin-bottom: 20.5rem; }
  .search__field {
    width: 100%;
    max-width: 602px;
    padding: 20px 23px 18px;
    outline: none;
    border: none;
    border-radius: 3px;
    background: #ffffff;
    font-family: Gotham Pro;
    font-size: 1.4286rem;
    font-weight: 700; }
    .search__field::-moz-placeholder {
      color: #a19faf;
      font-family: Gotham Pro;
      font-size: 1.4286rem;
      font-weight: 700;
      line-height: 2rem; }
    .search__field:-ms-input-placeholder {
      color: #a19faf;
      font-family: Gotham Pro;
      font-size: 1.4286rem;
      font-weight: 700;
      line-height: 2rem; }
    .search__field::-ms-input-placeholder {
      color: #a19faf;
      font-family: Gotham Pro;
      font-size: 1.4286rem;
      font-weight: 700;
      line-height: 2rem; }
    .search__field::placeholder {
      color: #a19faf;
      font-family: Gotham Pro;
      font-size: 1.4286rem;
      font-weight: 700;
      line-height: 2rem; }
  .search__close {
    width: 2.5rem;
    height: 2.5rem;
    background: transparent url("../img/close.svg") no-repeat center/112%;
    border: none;
    cursor: pointer;
    outline: none;
    align-self: flex-start; }
    .search__close:hover {
      background: url("../img/close-hover.svg") no-repeat center/112%; }
  .search__button {
    position: absolute;
    bottom: 1.6rem;
    right: 315px;
    width: 20px;
    height: 20px;
    border: none;
    outline: none;
    background: #ffffff url("../img/search-icon.png") no-repeat center;
    cursor: pointer; }

@media screen and (max-width: 1275px) {
  html {
    font-size: 12px; }
  .search {
    max-height: 830px; }
    .search__dialog {
      margin-left: 10rem;
      margin-bottom: 10rem;
      max-width: 700px;
      max-height: 150px; }
    .search__button {
      right: 120px; }
  .swiper-slide__heading {
    font-size: 1.4rem; }
  .swiper-slide__description {
    font-size: 4rem; }
    .swiper-slide__description--big {
      font-size: 9rem; }
  .swiper1-slide {
    padding: 14rem 0 17.6rem; }
  .news__card {
    display: flex;
    flex-direction: column;
    color: #2d3a4b;
    padding-top: 0.3rem; }
    .news__card--right {
      padding-left: 4.2rem; }
  .news__card--left {
    padding-right: 5rem; } }

@media screen and (max-width: 991px) {
  .scroll-up__button {
    cursor: default; }
    .scroll-up__button:hover {
      background-color: transparent; }
    .scroll-up__button:active {
      background-color: #ffffff; }
  .offers__button {
    cursor: default; }
    .offers__button:active {
      background-color: #8076dd; }
    .offers__button:hover {
      background-color: transparent; }
  .news__link {
    cursor: default; }
    .news__link:hover {
      color: #333333; }
    .news__link:active {
      color: #ef50a2; }
  .socials {
    outline: none;
    cursor: default; }
    .socials__vk:hover {
      background: url("../img/vk-icon.png") no-repeat center; }
    .socials__vk:active {
      background: url("../img/vk-hover-icon.png") no-repeat center; }
    .socials__facebook:hover {
      background: url("../img/facebook-icon.png") no-repeat center; }
    .socials__facebook:active {
      background: url("../img/facebook-hover-icon.png") no-repeat center; }
    .socials__twitter:hover {
      background: url("../img/twitter-icon.png") no-repeat center; }
    .socials__twitter:active {
      background: url("../img/twitter-hover-icon.png") no-repeat center; }
    .socials__ok:hover {
      background: url("../img/ok-icon.png") no-repeat center; }
    .socials__ok:active {
      background: url("../img/ok-hover-icon.png") no-repeat center; }
    .socials__youtube:hover {
      background: url("../img/youtube-icon.png") no-repeat center; }
    .socials__youtube:active {
      background: url("../img/youtube-hover-icon.png") no-repeat center; }
  .search {
    max-height: 815px; }
    .search__dialog {
      max-width: 620px;
      max-height: 100px;
      margin-left: 2.5rem; }
    .search__button {
      right: 50px;
      cursor: default; }
    .search__close {
      cursor: default; }
      .search__close:hover {
        background: url("../img/close.svg") no-repeat center/112%; }
      .search__close:active {
        background: url("../img/close-hover.svg") no-repeat center/112%; }
  .menu__nav {
    margin-left: 7rem; }
  .swiper1-slide {
    padding: 15rem 0 18.6rem; }
  .swiper-slide__heading {
    font-size: 1.4rem; }
  .swiper-slide__description {
    font-size: 2.5rem; }
    .swiper-slide__description--big {
      font-size: 7rem; }
  .swiper-slide__link {
    outline: none;
    cursor: default; }
    .swiper-slide__link:hover {
      background-color: #1a2330;
      color: #ffffff; }
    .swiper-slide__link:active {
      outline: none;
      background-color: #ffffff;
      color: #aaaaaa; }
  .swiper-slide-next-preview {
    display: none; }
  .swiper-slide-prev-preview {
    display: none; }
  .swiper-button-prev1 {
    outline: none;
    background-color: rgba(45, 58, 75, 0.6);
    cursor: default; }
    .swiper-button-prev1:hover {
      background: rgba(45, 58, 75, 0.6) url("../img/arrow-prev.svg") no-repeat center; }
    .swiper-button-prev1:active {
      outline: none;
      background: #ffffff url("../img/arrow-prev-hover.svg") no-repeat center; }
  .swiper-button-next1 {
    outline: none;
    background-color: rgba(45, 58, 75, 0.6);
    cursor: default; }
    .swiper-button-next1:hover {
      background: rgba(45, 58, 75, 0.6) url("../img/arrow-next.svg") no-repeat center; }
    .swiper-button-next1:active {
      outline: none;
      background: #ffffff url("../img/arrow-next-hover.svg") no-repeat center; }
  .swiper-button-prev2 {
    outline: none;
    cursor: default; }
    .swiper-button-prev2:hover {
      background: url("../img/arrow-prev2.svg") no-repeat center; }
    .swiper-button-prev2:active {
      outline: none;
      background-color: #e8e9ea; }
  .swiper-button-next2 {
    outline: none;
    cursor: default; }
    .swiper-button-next2:hover {
      background: url("../img/arrow-next2.svg") no-repeat center; }
    .swiper-button-next2:active {
      background-color: #e8e9ea; }
  .nav__link {
    cursor: default; }
    .nav__link:hover::after {
      display: none; }
  .logo__link {
    cursor: default; }
    .logo__link:hover::after {
      display: none; }
  .links__item {
    cursor: default; }
    .links__item:hover::after {
      display: none; }
  .card__button {
    cursor: default; }
    .card__button:hover {
      color: #2d3a4b;
      border: 1px solid #3a4656;
      background-color: transparent; }
    .card__button:active {
      color: #ffffff;
      background-color: #2d3a4b; }
  .zoom__close {
    cursor: default; }
    .zoom__close:hover {
      background: url("../img/close.svg") no-repeat center/112%; }
  .button__zoom {
    border: none;
    outline: none; }
    .button__zoom:hover {
      border: none;
      outline: none; }
    .button__zoom:active {
      border: none;
      outline: none; }
    .button__zoom:clicked {
      border: none;
      outline: none; }
    .button__zoom:checked {
      border: none;
      outline: none; }
    .button__zoom:focus {
      outline: none;
      border: none; }
  .button__cart {
    border: none;
    outline: none; }
    .button__cart:hover {
      border: none;
      outline: none; }
    .button__cart:active {
      border: none;
      outline: none; }
    .button__cart:clicked {
      border: none;
      outline: none; }
    .button__cart:checked {
      border: none;
      outline: none; }
    .button__cart:focus {
      outline: none;
      border: none; }
  .button__heart {
    border: none;
    outline: none; }
    .button__heart:hover {
      border: none;
      outline: none; }
    .button__heart:active {
      border: none;
      outline: none; }
    .button__heart:clicked {
      border: none;
      outline: none; }
    .button__heart:checked {
      border: none;
      outline: none; }
    .button__heart:focus {
      outline: none;
      border: none; }
  .icon__heart {
    cursor: default;
    outline: none; }
    .icon__heart:hover {
      background: transparent; }
    .icon__heart:active {
      background: url("../img/heart-hover.svg") no-repeat center/96%; }
  .icon__zoom {
    cursor: default;
    outline: none; }
    .icon__zoom:hover {
      background: transparent; }
    .icon__zoom:active {
      outline: none;
      background: url("../img/zoom-hover.svg") no-repeat center/96%; }
  .icon__cart {
    cursor: default;
    outline: none; }
    .icon__cart:hover {
      outline: none;
      background: transparent; }
    .icon__cart:active {
      outline: none;
      background: url("../img/cart-hover.svg") no-repeat center/96.85%; } }

@media screen and (max-width: 785px) {
  .offers__email-wrap {
    padding-right: 1.5rem; }
  .col-50 {
    width: 100%;
    display: flex;
    justify-content: center; }
  .news__section-title {
    margin-bottom: 7rem; }
  .news__card {
    position: relative;
    margin: auto;
    max-width: 37.8571rem; }
    .news__card::after {
      content: '';
      position: absolute;
      top: -1rem;
      width: 100%;
      height: 1px;
      background-color: #d1d5db;
      margin-bottom: 1rem; }
    .news__card--left {
      margin-bottom: 4rem;
      padding-right: 0; }
    .news__card--right {
      padding-left: 0; }
      .news__card--right::before {
        display: none; }
  .search {
    max-height: 515px; }
    .search__dialog {
      padding: 0 2rem; }
    .search__button {
      right: 78px; }
  .cart__modal {
    right: 80px;
    top: 73px; }
  .product__card {
    flex-basis: 100%;
    align-items: center;
    padding: 2rem 0; }
    .product__card--last {
      order: 5; }
  .card__text {
    align-items: center; }
  .header__menu {
    padding: 1rem 0; }
  .top-products__container {
    width: 80%; }
  .logo {
    padding-top: 0.5rem; }
  .menu__button {
    display: block;
    width: 50px;
    height: 50px;
    min-width: 50px;
    position: relative;
    cursor: default;
    outline: none;
    border: none;
    z-index: 50;
    margin-right: 1px; }
    .menu__button--active {
      background-color: #ffffff; }
    .menu__button:active {
      outline: none; }
    .menu__button:hover {
      outline: none; }
    .menu__button-item {
      position: absolute;
      top: 45%;
      margin-top: -1px;
      left: 50%;
      margin-left: -15px;
      height: 3px;
      width: 30px;
      background-color: #ffffff; }
      .menu__button-item--active {
        height: 0; }
        .menu__button-item--active::before {
          transform: rotate(45deg) !important;
          background-color: #5a52a5 !important; }
        .menu__button-item--active::after {
          transform: rotate(-45deg) !important;
          background-color: #5a52a5 !important; }
      .menu__button-item::before, .menu__button-item::after {
        content: '';
        position: absolute;
        top: 45%;
        margin-top: -1px;
        left: 50%;
        margin-left: -15px;
        height: 3px;
        width: 30px;
        background-color: #ffffff;
        transition: 0.2s; }
      .menu__button-item::before {
        transform: translateY(-13px); }
      .menu__button-item::after {
        transform: translateY(13px); }
  .links__item {
    margin-right: 1.5rem; }
  .menu__nav {
    position: absolute;
    right: 0;
    top: 60px;
    padding-bottom: 0;
    flex-direction: column;
    max-width: 19rem;
    z-index: 500;
    background-color: #ffffff;
    transition: 0.3s;
    transform: translateX(100%);
    transform-origin: 15rem -1rem;
    opacity: 0;
    z-index: 1; }
    .menu__nav--active {
      opacity: 1;
      transform: translateX(0%);
      z-index: 50; }
  .menu__links {
    justify-content: flex-end;
    max-width: 41rem; }
  .nav__link {
    color: #5a52a5;
    text-align: center;
    padding: 1rem 2rem;
    border: 1px solid #5a52a5; }
    .nav__link:first-child {
      border-top: none; }
    .nav__link:active {
      outline: none;
      background-color: #5a52a5;
      color: #ffffff; }
  .section__hero {
    min-height: 20rem; }
  .swiper-slide__heading {
    font-size: 1.4rem;
    letter-spacing: 0.1rem; }
  .swiper-slide__description {
    font-size: 2rem; }
    .swiper-slide__description--big {
      font-size: 4rem; }
  .swiper-slide__first {
    background: url("../img/slide-first-bg.jpg") no-repeat center/cover; }
  .swiper-slide__second {
    background: url("../img/slide-second-bg.jpg") no-repeat center/cover; }
  .swiper-slide__third {
    background: url("../img/slide-third-bg.jpg") no-repeat center/cover; }
  .swiper-slide__heading {
    font-size: 1.4rem; }
  .swiper-slide__description {
    font-size: 2.5rem; }
    .swiper-slide__description--big {
      font-size: 7rem; }
  .swiper-button-prev1 {
    width: 50px;
    height: 50px;
    cursor: default; }
    .swiper-button-prev1-wrap {
      width: 50px;
      height: 50px; }
    .swiper-button-prev1:hover {
      background: rgba(45, 58, 75, 0.6) url("../img/arrow-prev.svg") no-repeat center; }
    .swiper-button-prev1::after {
      display: none; }
    .swiper-button-prev1::before {
      width: 50px;
      height: 50px;
      z-index: 1; }
  .swiper-button-next1 {
    width: 50px;
    height: 50px;
    cursor: default; }
    .swiper-button-next1:hover {
      background: rgba(45, 58, 75, 0.6) url("../img/arrow-next.svg") no-repeat center; }
    .swiper-button-next1-wrap {
      width: 50px;
      height: 50px; }
  .swiper1-slide {
    padding: 3rem 0 5.6rem; }
  .zoom__close {
    right: 5px;
    top: 5px;
    background: url("../img/close-mobile.svg") no-repeat center/112%; }
    .zoom__close:hover {
      background: url("../img/close-mobile.svg") no-repeat center/112%; }
  .section__footer {
    padding: 0; }
  .footer__row {
    display: none; }
  .footer__policy {
    margin-bottom: 0; }
    .footer__policy-wrap {
      padding: 0;
      margin-bottom: 0.5rem; } }

@media screen and (max-width: 574px) {
  .offers__form-email {
    width: 100%;
    max-width: 100%; }
  .offers__email-wrap {
    padding-right: 0;
    margin-bottom: 3rem; }
  .offers__form {
    align-items: center;
    flex-direction: column; }
  .search {
    max-height: 662px; }
  .cart__modal {
    margin: auto;
    right: 0px;
    left: 0px;
    top: 73px; }
    .cart__modal::before, .cart__modal::after {
      display: none; }
  .cart__sum::after, .cart__sum::before {
    width: 250px; }
  .top-products__container {
    width: 100%; }
  .swiper1-slide {
    padding: 3rem 0 5.6rem; }
    .swiper1-slide__heading {
      font-size: 1.4rem;
      letter-spacing: 0.1rem; }
    .swiper1-slide__description {
      font-size: 1.9rem;
      letter-spacing: 0.2rem; }
      .swiper1-slide__description--big {
        font-size: 4.5rem; }
    .swiper1-slide__link {
      font-size: 1.3rem;
      padding: 1.2rem 2.8rem; }
  .product-card {
    align-items: center; }
  .section-title__text {
    padding: 0 2rem; }
  .section-title__heading {
    font-size: 1.6rem;
    letter-spacing: 0.1rem; } }

@media screen and (max-width: 375px) {
  .search {
    max-height: 470px; }
    .search__dialog {
      padding: 0 1rem;
      margin-bottom: 7rem; }
    .search__field::-moz-placeholder {
      font-size: 1.2rem; }
    .search__field:-ms-input-placeholder {
      font-size: 1.2rem; }
    .search__field::-ms-input-placeholder {
      font-size: 1.2rem; }
    .search__field::placeholder {
      font-size: 1.2rem; }
    .search__button {
      right: 50px; }
  .swiper1-slide {
    padding: 2rem 0 5.6rem; }
  .swiper-slide__text {
    padding-left: 0.7rem; }
  .swiper-slide__heading {
    font-size: 1.4rem;
    letter-spacing: 0.1rem; }
  .swiper-slide__description {
    font-size: 1.8rem;
    letter-spacing: 0.2rem; }
    .swiper-slide__description--big {
      font-size: 3.8rem; }
  .swiper-slide__price {
    max-width: 26rem; }
  .swiper-slide__link {
    font-size: 1rem;
    padding: 1rem 1.4rem; }
  .swiper-slide__pricetag {
    font-size: 3rem;
    padding: 0 2rem 0 2rem; }
  .swiper-slide__sup {
    font-size: 1.38rem;
    padding: 0.4rem 0 0 0; }
  .swiper-slide__currency {
    position: relative;
    font-family: Gotham Pro;
    font-size: 1.5rem;
    font-weight: 700;
    padding: 1.5rem 0 0 0; }
  .section__wrapper {
    display: flex;
    justify-content: center; }
  .section-title__heading {
    line-height: 2rem; }
  .section-title__text {
    padding: 0 2rem; }
  .top-products__container {
    width: 80%; }
  .product-card__heading {
    font-size: 1.3rem; } }

@media screen and (max-width: 355px) {
  .search {
    max-height: 479px; }
  .section-title__heading {
    font-size: 1.4rem; } }
