@font-face {
  font-family: MuseoCyrl-900;
  src: 
  url('../fonts/museo/MuseoSansCyrl-900.woff') format('woff'),
  url('../fonts/museo/MuseoCyrl-900.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  }
@font-face {
  font-family: MuseoCyrl-700;
  src: 
  url('../fonts/museo/MuseoSansCyrl-700.woff') format('woff'),
  url('../fonts/museo/MuseoCyrl-700.woff') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  }
@font-face {
  font-family: Gotham Pro-Black;
  src: 
  url('../fonts/Gotha/GothamPro-Black.woff') format('woff'),
  url('../fonts/museo/GothamPro-Black.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  }
@font-face {
  font-family: Gotham Pro;
  src: 
  url('../fonts/Gotha/GothamPro.woff') format('woff'),
  url('../fonts/Gotha/GothamPro.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  }
@font-face {
  font-family: Gotham Pro-Bold;
  src: 
  url('../fonts/Gotha/GothamPro-Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  }
@font-face {
  font-family: Gotha Pro-Bla;
  src: 
  url('../fonts/Gotha/GothaProBla.woff') format('woff'),
  url('../fonts/Gotha/GothaProBla.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  }
@font-face {
  font-family: Gotha Pro-Light;
  src: 
  url('../fonts/Gotha/GothaProLig.woff') format('woff'),
  url('../fonts/Gotha/GothaProLig.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  }
@font-face {
  font-family: Gotha Pro-Medium;
  src: 
  url('../fonts/Gotha/GothaProMed.woff') format('woff'),
  url('../fonts/Gotha/GothaProMed.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  }
@font-face {
  font-family: Gotha Pro-Regular;
  src: 
  url('../fonts/Gotha/GothaProReg.woff') format('woff'),
  url('../fonts/Gotha/GothaProReg.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  }