.card
  &__button
    padding: 0.85rem 1.44rem
    font-family: Gotham Pro-black
    font-size: 1rem
    text-transform: uppercase
    letter-spacing: 0.06rem
    font-weight: 400
    color: $dark-blue
    border: 1px solid $blue
    border-radius: 1.5rem
    cursor: pointer
    &:hover
      color: $light
      boreder: none
      background-color: $dark-blue
.button
  &__zoom
    background-color: transparent
    border: none
    outline: none
  &__cart
    background-color: transparent
    border: none
    outline: none
  &__heart
    background-color: transparent
    border: none
    outline: none
    &--left
      padding-right: 0.2rem