.card
  &__button
    padding: 0.85rem 1.44rem
    font-family: Gotham Pro-black
    font-size: 1rem
    text-transform: uppercase
    letter-spacing: 0.06rem
    font-weight: 400
    color: $dark-blue
    background-color: transparent
    border: 1px solid $blue
    border-radius: 1.5rem
    cursor: pointer
    &:hover
      color: $light
      background-color: $dark-blue
.button
  &:active
    outline: none !important
  &:clicked
    outline: none !important
  &:checked
    outline: none !important
  &:focus
    outline: none !important
  &__zoom
    cursor: pointer
    width: 22px
    height: 22px
    background: url('../img/zoom.svg') no-repeat center
    border: none !important
    outline: none !important
    &:hover
      background: url('../img/zoom-hover2.svg') no-repeat center
      border: none !important
      outline: none !important
    &:active
      border: none !important
      outline: none !important
    &:clicked
      border: none !important
      outline: none !important
    &:checked
      border: none !important
      outline: none !important
    &:focus
      outline: none !important
      border: none !important
  &__cart
    cursor: pointer
    width: 25px
    height: 22px
    background: url('../img/cart.svg') no-repeat center
    border: none !important
    outline: none !important
    &:hover
      background: url('../img/cart-hover.svg') no-repeat center
    &:active
      border: none !important
      outline: none !important
    &:clicked
      border: none !important
      outline: none !important
    &:checked
      border: none !important
      outline: none !important
    &:focus
      outline: none !important
      border: none !important
  &__heart
    cursor: pointer
    width: 22px
    height: 22px
    background: url('../img/heart.svg') no-repeat center
    border: none !important
    outline: none !important
    &:hover
      background: url('../img/heart-hover.svg') no-repeat center
    &:active
      border: none !important
      outline: none !important
    &:clicked
      border: none !important
      outline: none !important
    &:checked
      border: none !important
      outline: none !important
    &:focus
      outline: none !important
      border: none !important
    &--left
      padding-right: 0.2rem
#user-email-error
  position: absolute
  bottom: -1.5rem
  left: 1.8rem
  color: #ff9f9f
  font-family: Gotham Pro
#contacts-user-email-error
  position: absolute
  bottom: -1.5rem
  left: 0
  color: #ff9f9f
  font-family: Gotham Pro
#contacts-user-name-error
  position: absolute
  bottom: -1.5rem
  left: 0
  color: #ff9f9f
  font-family: Gotham Pro
#review-user-name-error
  position: absolute
  bottom: -1.1rem
  left: 0
  color: #ff9f9f
  font-family: Gotham Pro
#review-user-email-error
  position: absolute
  bottom: -1.1rem
  left: 0
  color: #ff9f9f
  font-family: Gotham Pro
#user-text-error
  position: absolute
  bottom: -1.1rem
  left: 0
  color: #ff9f9f
  font-family: Gotham Pro
.scroll-up
  &__wrap
    display: flex
    justify-content: center
    align-items: flex-end
  &__button
    display: block
    position: relative
    width: 30px
    height: 30px
    border: 1px solid #454545
    cursor: pointer
    &:hover
      background-color: $light
  &__arrow
    position: absolute
    display: flex
    left: 50%
    margin-left: -1px
    margin-top: -7px
    border-top-left-radius: 1px
    border-top-right-radius: 1px
    border: none
    top: 50%
    width: 2px
    height: 14px
    background-color: #454545
    &::before, &::after
      content: ''
      width: 5px
      height: 6px
      background-color: #454545
    &::before
      transform-origin: top
      transform: rotate(-45deg) translate(0.01px, 1px)
    &::after 
      transform-origin: top
      transform: rotate(45deg) translate(0.08px, 1px)
      