@media screen and ( max-width: 1275px )
  html
    font-size: 12px
  .col
    &__user
      width: 35%
      flex-basis: 35%
      max-width: 35%
    &__useful
      width: 29%
      flex-basis: 29%
      max-width: 29%
  .review
    &__form
      width: 100%
      max-width: 100%
    &__input
      &-group
  .search
    max-height: 830px
    &__dialog
      margin-left: 10rem
      margin-bottom: 10rem
      max-width: 700px
      max-height: 150px
    &__button
      right: 120px
  .contacts
    &__block
      margin-right: 0
  .swiper
    &-slide
      &__heading
        font-size: 1.4rem
      &__description
        font-size: 4rem
        &--big
          font-size: 9rem
  .swiper1
    &-slide
      padding: 14rem 0 17.6rem
  .news
    &__card
      display: flex
      flex-direction: column
      color: $dark-blue
      padding-top: 0.3rem
      min-width: 
      &--right
        padding-left: 4.2rem
  .news__card--left
    padding-right: 5rem
  .catalog
    &__card
      &-item
        flex-basis: 32%
  .col-38
    flex-basis: 38%
  .col-60
    flex-basis: 62%
  .card
    &__title
      padding-top: 5rem
      &-wrap
        padding-left: 2rem
  .col-40
    padding-left: 3rem
@media screen and ( max-width: 991px )
  .access
    &__close
      outline: none
      cursor: default
      &:hover
        outline: none
        background: url('../img/close.svg') no-repeat center / cover
      &:active
        outline: none
        background: url('../img/close-hover.svg') no-repeat center / cover
    &__button
      cursor: default
      &:hover
        background-color: $pink
        outline: none
      &:active
        background-color: $dark-blue
        outline: none
    &__link
      outline: none
      cursor: default
      &:hover
        color: $dark-blue
      &:active
        outline: none
        color: $pink
  .delivery
    &__visa
      min-width: 94px
    &__num
      min-width: 50px
  .catalog
    &__button
      cursor: default
      outline: none
      &:hover
        background-color: #eeeeee
        color: $dark-blue
      &:active
        color: $light
        background-color: $dark-blue
  .item-page__link
    cursor: default
  .preview
    &__image
      &-wrap
        cursor: default
  .item
    &__title
      margin-top: 3rem
  .item
    &__color-choice, &__size-choice
      cursor: default
    &__size
      &-table
        &-button
          cursor: default
          &:hover
            color: $pink
          &:active
            color: $dark-blue
  .payment
    &__visa
      &:hover
        background: url(../img/visa.png) no-repeat center
      &:active
        background: url(../img/visa-hover.png) no-repeat center
    &__master-card
      &:hover
        background: url(../img/master-card.png) no-repeat center
      &:active
        background: url(../img/master-card-hover.png) no-repeat center
    &__yandex
      &:hover
        background: url(../img/yandex.png) no-repeat center
      &:active
        background: url(../img/yandex-hover.png) no-repeat center
    &__rbk
      &:hover
        background: url(../img/rbk.png) no-repeat center
      &:active
        background: url(../img/rbk-hover.png) no-repeat center
    &__qiwi
      &:hover
        background: url(../img/qiwi.png) no-repeat center
      &:active
        background: url(../img/qiwi-hover.png) no-repeat center
  .review
    &__useful
      &-button
        cursor: default
        &--yes
          &:hover
            background: url("../img/thumb-up.svg") no-repeat center
          &:active
            background: url("../img/thumb-up-active.svg") no-repeat center
        &--no
          &:hover
            background: url("../img/thumb-down.svg") no-repeat center
          &:active
            background: url("../img/thumb-down-active.svg") no-repeat center
    &__estimation
      &-item
        cursor: default
        &:hover
          background: url("../img/star.svg") no-repeat center / cover
        &:active
          background: url("../img/star.svg") no-repeat center / cover
        &--active
          background: url("../img/star-active.svg") no-repeat center / cover
          &:hover
            background: url("../img/star-active.svg") no-repeat center / cover
    &__form
      &-button
        margin-right: 0
        cursor: default
        &:hover
          background-color: $dark-blue
        &:active
          background-color: $pink
  .about
    &__item
      cursor: default
  .descritption
    &__button
      cursor: default
      &:hover
        background-color: $dark-blue
      &:active
        background-color: $pink
  .description__button-favorite
    cursor: default
    &:hover
      background: url('../img/favorite-item.svg') no-repeat center / cover
    &:active
      background: url('../img/favorite-item-hover.svg') no-repeat center / cover
  .swiper
    &-button
      &-next3, &-prev3
        cursor: default
      &-prev3
        &:hover
          background: url('../img/swiper3-arrow-prev.svg') no-repeat center
        &:active
          background: url('../img/swiper3-arrow-prev-hover.svg') no-repeat center
      &-next3
        &:hover
          background: url('../img/swiper3-arrow-next.svg') no-repeat center
        &:active
          background: url('../img/swiper3-arrow-next-hover.svg') no-repeat center
  .swiper3
    &-slide
      display: flex
      justify-content: center
      align-items: center

  .item
    &-card
      &__col
        flex-basis: 100%
        width: 100%
        max-width: 100%
  .card
    &__title
      padding-top: 3.2rem
      &-wrap
        padding-left: 2rem
        flex-basis: 15%
    &__photo-block
      flex-basis: 20%
  .calculation
    &__form
      &-button
        outline: none
        cursor: default
        &:hover
          outline: none
          background-color: $dark-blue
        &:active
          background-color: $pink
          outline: none
    &__button
      cursor: default
      outline: none
      &:hover
        outline: none
        background-color: #eeeeee
        color: $dark-blue
      &:active
        background-color: $dark-blue
        outline: none
        color: $light
  .card
    &__select
      cursor: default !important
      outline: none
    &-select
      &__head
        cursor: default   
        outline: none
      &__list
        cursor: default
        outline: none
  .card-select__list,
  .card-select__item
    cursor: default
    outline: none
    &:hover
      background-color: $light
      outline: none
    &:active
      outline: none
      background-color: #f5f5f5
  .select__head
    cursor: default
    outline: none
  .card
    &__delete-btn
      cursor: default
      outline: none
      &:hover
        background: url('../img/delete-icon.svg') no-repeat center
        outline: none
      &:active
        outline: none
        background: url('../img/delete-icon-hover.svg') no-repeat center
  a:-webkit-any-link
    outline: none
    cursor: default
  .footer
    &__link
      cursor: default
      outline: none
      &:hover
        outline: none
        color: #999999
      &:active
        outline: none
        color: $light
  .col-38
    flex-basis: 100%
  .col-60
    flex-basis: 100%
  .col
    &__user
      flex-basis: 100%
      max-width: 100%
      width: 100%
      margin-bottom: 1rem
    &__useful
      flex-basis: 35.5%
      max-width: 35.5%
      width: 35.5%
      justify-content: flex-start
    &__estimation
      flex-basis: 35.5%
      max-width: 35.5%
      width: 35.5%
    &__date
      flex-basis: 29%
      max-width: 29%
      width: 29%
  .section
    &__calculation
      padding: 3rem
    &-title
      &--left
        align-items: center
  .calculation
    &__col
      padding-left: 0
    &__promo
      max-width: 39.5rem
    &__button
      &-wrap
        display: flex
        justify-content: center
        margin-bottom: 3rem
  .ymap-container
    cursor: default
  .hero
    &__breadcrumbs
      &-link
        cursor: default
        &--prev
          &:hover
            &::before
              background-color: transparent
          &:active
            &::before
              background-color: $light
        &--active
          &:hover
            &::before
              background-color: transparent
          &:active
            &::before
              background-color: $light
  .contacts
    &__title
      align-items: center
    &__form
      flex-basis: 60%
      margin-bottom: 3rem
    &__content-wrap
      justify-content: center
      flex-wrap: wrap
    &__block
      margin: auto
    &-form
      &__button
        margin: auto
        cursor: default
        &:hover
          background-color: $dark-blue
        &:active
          background-color: $pink
    &__link
      cursor: default
      &:hover
        color: #333333
      &:active
        color: $pink
      
    &__input-group
      flex-basis: 100%
      padding-right: 0
  .input
    &-group
      &__question
        padding-right: 0
        flex-basis: 100%
  .filters
    &__button
      cursor: default
      &--squares
        &:hover
          background: transparent url(../img/squares.svg) no-repeat center
        &:active
          background: transparent url(../img/squares-active.svg) no-repeat center
      &--list
        &:hover
          background: transparent url(../img/list.svg) no-repeat center
        &:active
          background: transparent url(../img/list-active.svg) no-repeat center
  .scroll-up
    &__button
      cursor: default
      &:hover
        background-color: transparent
      &:active
        background-color: $light
  .offers
    &__button
      cursor: default
      &:active
        background-color: #8076dd    
      &:hover
        background-color: transparent
  .news
    &__link
      cursor: default
      &:hover
        color: #333333
      &:active
        color: $pink
  .socials
    outline: none
    cursor: default
    &__vk
      &:hover
        background: url('../img/vk-icon.png') no-repeat center
      &:active
        background: url('../img/vk-hover-icon.png') no-repeat center
    &__facebook
      &:hover
        background: url('../img/facebook-icon.png') no-repeat center
      &:active
        background: url('../img/facebook-hover-icon.png') no-repeat center
    &__twitter
      &:hover
        background: url('../img/twitter-icon.png') no-repeat center
      &:active
        background: url('../img/twitter-hover-icon.png') no-repeat center
    &__ok
      &:hover
        background: url('../img/ok-icon.png') no-repeat center
      &:active
        background: url('../img/ok-hover-icon.png') no-repeat center
    &__youtube
      &:hover
        background: url('../img/youtube-icon.png') no-repeat center
      &:active
        background: url('../img/youtube-hover-icon.png') no-repeat center
  .search
    max-height: 815px
    &__dialog
      max-width: 620px
      max-height: 100px
      margin-left: 2.5rem
    &__button
      right: 50px
      cursor: default
    &__close
      cursor: default
      &:hover
        background: url('../img/close.svg') no-repeat center / 112%
      &:active
        background: url('../img/close-hover.svg') no-repeat center / 112%
  .menu
    &__nav
      margin-left: 7rem
  .swiper1
    &-slide
      padding: 15rem 0 18.6rem
  .swiper
    &-slide
      &__heading
        font-size: 1.4rem
      &__description
        font-size: 2.5rem
        &--big
          font-size: 7rem
      &__link
        outline: none
        cursor: default
        &:hover
          background-color: $dark
          color: $light
        &:active
          outline: none
          background-color: $light
          color: $secondary
      &-next-preview
        display: none
      &-prev-preview
        display: none
    &-button
      &-prev1
        outline: none
        background-color: rgba(45, 58, 75, 0.6)
        cursor: default
        &:hover
          background: rgba(45, 58, 75, 0.6) url('../img/arrow-prev.svg') no-repeat center
        &:active
          outline: none
          background: $light url('../img/arrow-prev-hover.svg') no-repeat center
      &-next1
        outline: none
        background-color: rgba(45, 58, 75, 0.6)
        cursor: default
        &:hover
          background: rgba(45, 58, 75, 0.6) url('../img/arrow-next.svg') no-repeat center
        &:active
          outline: none
          background: $light url('../img/arrow-next-hover.svg') no-repeat center
      &-prev2
        outline: none
        cursor: default
        &:hover
          background: url('../img/arrow-prev2.svg') no-repeat center
        &:active
          outline: none
          background-color: $grey
      &-next2
        outline: none
        cursor: default
        &:hover
          background: url('../img/arrow-next2.svg') no-repeat center
        &:active
          background-color: $grey
  .nav
    &__link
      cursor: default
      &:hover
        &::after
          display: none
  .logo
    &__link
      cursor: default
      &:hover
        &::after
          display: none
  .links
    &__item
      cursor: default
      &:hover
        &::after
          display: none
  .card
    &__button
      cursor: default
      &:hover
        color: $dark-blue
        border: 1px solid $blue
        background-color: transparent
      &:active
        color: $light
        background-color: $dark-blue
  .zoom
    &__close
      cursor: default
      &:hover
        background: url('../img/close.svg') no-repeat center / 112%
  .button
    &__zoom
      cursor: default
      border: none
      outline: none 
      &:hover
        background: url('../img/zoom.svg') no-repeat center
        outline: none
      &:active
        background: url('../img/zoom-hover2.svg') no-repeat center
        outline: none
      &:clicked
        border: none
        outline: none
      &:checked
        border: none
        outline: none
      &:focus
        outline: none
        border: none
    &__cart
      cursor: default
      border: none
      outline: none
      &:hover
        background: url('../img/cart.svg') no-repeat center
        outline: none
      &:active
        background: url('../img/cart-hover.svg') no-repeat center
        outline: none
      &:clicked
        border: none
        outline: none
      &:checked
        border: none
        outline: none
      &:focus
        outline: none
        border: none
    &__heart
      cursor: default
      border: none
      outline: none
      &:hover
        background: url('../img/heart.svg') no-repeat center
        outline: none
      &:active
        background: url('../img/heart-hover.svg') no-repeat center
        outline: none
      &:clicked
        border: none
        outline: none
      &:checked
        border: none
        outline: none
      &:focus
        outline: none
        border: none
  .hero
    &__content
      padding-top: 9.6rem
  .card
    &__title
      padding-top: 4rem
      &-wrap
        flex-basis: 30%
    &-title
      &__heading
        font-size: 1.3rem
  .col-15
    &__first
      width: 23%
  .col-40
    width: 25%
    padding-left: 0.2rem
  .col-15
    width: 18%
    &__first
      width: 22%
@media screen and ( max-width: 785px )
  .shopping
    &-cart
      &__row
  .card
    &-title
      &__heading
        font-size: 1.1rem
    &__title
      padding-top: 2.5rem
      &-wrap
        padding-top: 0.7rem
        padding-left: 2rem
        flex-basis: 28%
    &__button
      &-wrap
        flex-basis: 5%
    &__photo-block
      flex-basis: 20%
  .offers
    &__email
      &-wrap
        padding-right: 1.5rem
  .col-50
    width: 100%
    display: flex
    justify-content: center
  .news
    &__section
      &-title
        margin-bottom: 7rem
    &__card
      position: relative
      margin: auto
      max-width: 37.8571rem
      &::after
        content: ''
        position: absolute
        top: -1rem
        width: 100%
        height: 1px
        background-color: #d1d5db
        margin-bottom: 1rem
      &--left
        margin-bottom: 4rem
        padding-right: 0
      &--right
        padding-left: 0
        &::before
          display: none
  .search
    max-height: 515px
    &__dialog
      padding: 0 2rem
    &__button
      right: 78px
  .cart
    &__modal
      right: 80px
      top: 73px
  .product
    &__card
      flex-basis: 100%
      align-items: center
      padding: 2rem 0
      &--last
        order: 5
  .card
    &__text
      align-items: center
  .header
    &__menu
      padding: 1rem 0
      &--dark
        padding: 0.8rem 0
      &--light
        padding: 0.8rem 0
  .top-products
    &__container
      width: 80%
  .logo
    padding-top: 0.5rem
  .menu
    &__button
      display: block
      width: 50px
      height: 50px
      min-width: 50px
      position: relative
      cursor: default
      outline: none
      border: none
      z-index: 50
      margin-right: 1px
      &--light
        &--active
          background-color: $light
      &--dark
        &--active
          background-color: $light
      &:active
        outline: none
      &:hover
        outline: none
      &-item
        position: absolute
        top: 45%
        margin-top: -1px
        left: 50%
        margin-left: -15px
        height: 3px
        width: 30px
        &--light
          background-color: $light
          &--active
            height: 0
            &::before
              transform: rotate(45deg) !important
              background-color: $purple !important
            &::after
              transform: rotate(-45deg) !important
              background-color: $purple !important
          &::before, &::after
            content: ''
            position: absolute
            top: 45%
            margin-top: -1px
            left: 50%
            margin-left: -15px
            height: 3px
            width: 30px
            transition: 0.2s
            background-color: $light
          &::before
            transform: translateY(-13px)
          &::after
            transform: translateY(13px)
        &--dark
          background-color: $dark-blue
          &::before, &::after
            content: ''
            position: absolute
            top: 45%
            margin-top: -1px
            left: 50%
            margin-left: -15px
            height: 3px
            width: 30px
            transition: 0.2s
            background-color: $dark-blue
          &::before
            transform: translateY(-13px)
          &::after
            transform: translateY(13px)
          &--active
            height: 0
            &::before
              transform: rotate(45deg) !important
              background-color: $dark-blue !important
            &::after
              transform: rotate(-45deg) !important
              background-color: $dark-blue !important

  .hero
    &__content
      padding-top: 9.6rem
  .links
    &__item
      margin-right: 1.5rem
  .menu
    &__nav
      position: absolute
      right: 0
      top: 60px
      padding-bottom: 0
      flex-direction: column
      max-width: 19rem
      z-index: 500
      background-color: $light
      transition: 0.3s
      transform: translateX(100%)
      transform-origin: 15rem -1rem
      opacity: 0
      z-index: 1
      &--active
        opacity: 1
        transform: translateX(0%)
        z-index: 50
    &__links
      justify-content: flex-end
      max-width: 41rem
  .nav
    &__link
      color: $purple
      text-align: center
      padding: 1rem 2rem 
      border: 1px solid $purple
      &:first-child
        border-top: none
      &:active
        outline: none
        background-color: $purple
        color: $light
  .section
    padding: 5rem 0
    &__hero
      &--big
        min-height: 20rem
      &--small
        margin-top: 5.8rem
    &__top-products
      padding: 5rem 0
  .swiper
    &-slide
      &__heading
        font-size: 1.4rem
        letter-spacing: 0.1rem
      &__description
        font-size: 2rem
        &--big
          font-size: 4rem
      &__first
        background: url('../img/slide-first-bg.jpg') no-repeat center / cover
      &__second
        background: url('../img/slide-second-bg.jpg') no-repeat center / cover
      &__third
        background: url('../img/slide-third-bg.jpg') no-repeat center / cover
      &__heading
        font-size: 1.4rem
      &__description
        font-size: 2.5rem
        &--big
          font-size: 7rem
    &-button
      &-prev1
        width: 50px
        height: 50px
        cursor: default
        &-wrap
          width: 50px
          height: 50px
        &:hover
          background: rgba(45, 58, 75, 0.6) url('../img/arrow-prev.svg') no-repeat center
        &::after
          display: none
        &::before
          width: 50px
          height: 50px
          z-index: 1
      &-next1
        width: 50px
        height: 50px
        cursor: default
        &:hover
          background: rgba(45, 58, 75, 0.6) url('../img/arrow-next.svg') no-repeat center
        &-wrap
          width: 50px
          height: 50px
  .swiper1
    &-slide
      padding: 3rem 0 5.6rem
  .zoom
    &__close
      right: 5px
      top: 5px
      background: url('../img/close-mobile.svg') no-repeat center / 112%
      &:hover
        background: url('../img/close-mobile.svg') no-repeat center / 112%
  .section
    &__footer
      padding: 0
  .footer
    &__row
      display: none
    &__policy
      margin-bottom: 0
      &-wrap
        padding: 0
        margin-bottom: 0.5rem
  .catalog
    &__card
      &-item
        flex-basis: 47%
    &__title
      flex-direction: column
      align-items: center
    &__product-count
      margin-bottom: 1.5rem
    &__filters
  .filters
    &__show-by
      margin-right: 0.7rem
  .select
    &__head
      padding: 3px 0
  .contacts
    &__form
      flex-basis: 75%
  .section
    &__calculation
      padding: 3rem 0
  .calculation
    &__promo
      padding: 1rem 0.8rem
  .col-40
    display: flex
    justify-content: center
    width: 28%
  .col-15
    display: flex
    justify-content: center
    width: 21%
    &__first
      justify-content: flex-start
      width: 24%  
    &__second
      justify-content: flex-start
    &__fourth
      display: flex
      justify-content: center
  .col
    &__useful
      flex-basis: 50%
      max-width: 50%
      width: 50%
      justify-content: flex-start
    &__estimation
      flex-basis: 50%
      max-width: 50%
      width: 50%
      padding-right: 0
    &__date
      margin-top: 1rem   
      flex-basis: 100%
      max-width: 100%
      width: 100%
  .review
    &__input
      &-group
        flex-basis: 100%
        width: 100%
        max-width: 100%
        padding-right: 0
  .input
    &-group
      &__text
        padding-right: 0
      &-wrap
        display: flex
        justify-content: center
        flex-direction: column
  .form
    &__button
      &-wrap
        flex-basis: 100%
        width: 100%
        max-width: 100%
@media screen and ( max-width: 574px )
  .access
    &__close
      right: 10px
      top: 10px
      background: url('../img/close-mobile.svg') no-repeat center
      &:hover
        background: url('../img/close-mobile.svg') no-repeat center
      &:active
        background: url('../img/close-mobile-hover.svg') no-repeat center
    &__text
      &-wrap
        flex-direction: column
  .section
    &__shopping
      &-cart
        padding: 0px 0 84px
  .about
    &__title
      flex-direction: column
      align-items: center
    &__item
      margin-bottom: 1.5rem
  .item
    &__size
      &-choice
        flex-wrap: wrap
        min-height: 7rem
    &__payment
      &-box
        flex-wrap: wrap
      &-wrap
        display: flex
        flex-direction: column
        align-items: center
        justify-content: center
    &__description
      padding-left: 0
      padding: 0 1rem
  .review
    &__input
      &-group
        max-width: 100%
        padding-right: 0
    &__form
      &-wrap
        padding: 0rem 0
    &__row
      flex-wrap: wrap
    &__card
      height: 100%
      min-height: 15rem
    &__useful
      &-wrap
        margin-bottom: 0.5rem
    &__text
      font-size: 1.3rem
      line-height: 28px
  .card
    &__photo
      &-wrap
        display: flex
        padding-top: 1rem
        justify-content: center
  .col
    &__useful
      width: 100%
      flex-basis: 100%
      max-width: 100%
      padding-right: 0
      display: flex
      justify-content: flex-start
    &__date
      width: 100%
      flex-basis: 100%
      max-width: 100%
      display: flex
      justify-content: flex-start
    &__estimation
      width: 100%
      flex-basis: 100%
      max-width: 100%
      padding-right: 0.5rem
      margin-bottom: 0.5rem
      display: flex
      justify-content: flex-start
    &__user
      margin-bottom: 1.5rem
      width: 100%
      max-width: 100%
      flex-basis: 100%
  .card__photo-wrap--logo
    padding-top: 2.5rem
  .input
    &-group
      &__text
        max-width: 100%
        flex-basis: 100%
  .form
    &__button
      &-wrap
        flex-direction: column
        align-items: center
        min-height: 9rem
  .contacts
    &__button
      width: 100%
      max-width: 100%
  .payment
    &__yandex
      width: 8rem
    &__qiwi
      width: 7rem
  .descritption
    &__button
      padding: 20px 0
      width: 100%
      max-width: 100%
      margin-bottom: 2rem
  .description__social-links
    max-width: 50%
    width: 100%
    &-wrap
      display: flex
      flex-direction: column
      align-items: center
  .description__button-favorite
    margin-left: 50%
    transform: translateX(-14px)
  .col-40
    width: 60%
    justify-content: center
  .col-15
    width: 35% 
    justify-content: center
    &--desktop
      display: none
  .col__user
    flex-basis: 100%
    width: 100%
    max-width: 90%
  .admin
    &__answer
      padding: 0rem 0 0.5rem 0
      padding-left: 1rem
  .card
    &__pricetag
      &-wrap
        justify-content: space-between
        max-width: 100%
        margin-right: 0.5rem
    &__button-wrap
      padding-bottom: 0
      flex-basis: 100%
      justify-content: flex-start
    &__lable--mobile
      display: flex
      margin-right: 1rem
    &__photo-block
      flex-basis: 100%
      width: 100%
      max-width: 100%
      margin-bottom: 2rem
      justify-content: center
    &__delete
      &-btn
        display: none
        &--mobile
          display: flex
          text-transform: uppercase
          color: $light
          background-color: $pink
          border: none
          font-weight: 700
          padding: 1rem 3rem
          outline: none
          &:active
            outline: none
            background-color: $dark-blue

  .shopping-cart
    &__row
      flex-wrap: wrap
      justify-content: space-between
      max-width: 262px
      margin: auto
      &--first
        display: none
  .swiper
    &-button
      &-next3, &-prev3
        top: 0
  .card
    &-title
      &__heading
        font-size: 1.5rem
    &__title
      &-wrap
        flex-basis: 100%
        max-width: 100%
        padding-left: 0
    &__pricetag
      &-wrap
        flex-basis: 100%
        margin-bottom: 1rem
      &--center
        margin-bottom: 0
        padding-bottom: 0
    &__select
      margin-bottom: 0
      &-wrap
        flex-basis: 100%
        margin-bottom: 1rem
        justify-content: space-between
    &__img
      display: none
      &--mobile
        display: block
    &__button
      &-wrap
  .calculation
    &__button
      width: 100% 
      max-width: 100%
      display: flex
      justify-content: center
      margin-bottom: 2rem
      &-wrap
        flex-direction: column
        padding: 0 0rem
    &__form
      padding: 2.5rem 2.5rem
      flex-direction: column
      align-items: center
      &-button
        max-width: 100%
    &__promo
      margin-bottom: 2rem
  .contacts
    &__form
      flex-basis: 100%
    &-title
      &__heading
        letter-spacing: 0
        font-size: 1rem
  .catalog
    &__card
      &-item
        flex-basis: 100%
    &__filters
      &-wrap
        flex-direction: column
  .filters
    &__button
      &-wrap
        height: 50px
        justify-content: space-between
        flex-direction: column
        padding-bottom: 0.3rem
  .offers
    &__form
      &-email
        width: 100%
        max-width: 100%
    &__email
      &-wrap
        padding-right: 0
        margin-bottom: 3rem
    &__form
      align-items: center
      flex-direction: column
  .search
    max-height: 662px
  .cart
    &__modal
      margin: auto
      right: 0px
      left: 0px
      top: 73px
      &::before, &::after
        display: none
    &__sum
      &::after, &::before
        width: 250px
  .top-products
    &__container
      width: 100%
  .swiper1
    &-slide
      padding: 3rem 0 5.6rem
      &__heading
        font-size: 1.4rem
        letter-spacing: 0.1rem
      &__description
        font-size: 1.9rem
        letter-spacing: 0.2rem
        &--big
          font-size: 4.5rem
      &__link
        font-size: 1.3rem
        padding: 1.2rem 2.8rem
  .product
    &-card
      align-items: center
  .section
    &-title
      &__text
        padding: 0 1rem
      &__heading
        font-size: 1.6rem
        letter-spacing: 0.1rem
    &__item
      &-card
        padding: 3rem 0
    &__slider
      padding: 2rem 0
  .top-products
    &__section-title
      margin-bottom: 1.5rem
  .delivery
    &__text
      &-wrap
        flex-direction: column
        align-items: flex-start
    &__num
      margin-bottom: 2rem
    &__visa
      margin-bottom: 2rem
@media screen and ( max-width: 375px )
  .description__social-links
    max-width: 65%
    width: 100%
  .col-40
    justify-content: flex-end
  .card
    &__pricetag
      &-wrap
        flex-basis: 100%
        margin-bottom: 1rem
        justify-content: space-between
    &__select
      &-wrap
        flex-basis: 100%
        margin-bottom: 1rem
        max-width: 100%
        justify-content: space-between
    &__button
      &-wrap
        
  .calculation
    &__form
      padding: 1.5rem 1.5rem
    &__promo
      padding: 1rem 0.3rem
  .search
    max-height: 470px
    &__dialog
      padding: 0 1rem
      margin-bottom: 7rem
    &__field
      &::placeholder
        font-size: 1.2rem
    &__button
      right: 50px
  .swiper1
    &-slide
      padding: 2rem 0 5.6rem
  .swiper
    &-slide
      &__text
        padding-left: 0.7rem
      &__heading
        font-size: 1.4rem
        letter-spacing: 0.1rem
      &__description
        font-size: 1.8rem
        letter-spacing: 0.2rem
        &--big
          font-size: 3.8rem
      &__price
        max-width: 26rem
      &__link
        font-size: 1rem
        padding: 1rem 1.4rem
      &__pricetag
        font-size: 3rem
        padding: 0 2rem 0 2rem
      &__sup
        font-size: 1.38rem
        padding: 0.4rem 0 0 0
      &__currency
        position: relative
        font-family: Gotham Pro
        font-size: 1.5rem
        font-weight: 700
        padding: 1.5rem 0 0 0
  .section
    &__wrapper
      display: flex
      justify-content: center
    &-title
      &__heading
        line-height: 2rem
      &__text
        padding: 0 1rem
  .top-products
    &__container
      width: 80%
  .product
    &-card
      &__heading
        font-size: 1.3rem
@media screen and ( max-width: 355px )
  .search
    max-height: 479px
  .section
    &-title
      &__heading
        font-size: 1.4rem