@media screen and ( max-width: 1275px )
  html
    font-size: 12px

  .swiper
    &-slide
      &__heading
        font-size: 1.4rem
      &__description
        font-size: 4rem
        &--big
          font-size: 9rem
  .swiper1
    &-slide
      padding: 14rem 0 17.6rem
@media screen and ( max-width: 991px )
  .menu
    &__nav
      margin-left: 7rem
  .swiper1
    &-slide
      padding: 15rem 0 18.6rem
  .swiper
    &-slide
      &__heading
        font-size: 1.4rem
      &__description
        font-size: 2.5rem
        &--big
          font-size: 7rem
      &__link
        outline: none
        cursor: default
        &:hover
          background-color: $dark
          color: $light
        &:active
          outline: none
          background-color: $light
          color: $secondary
      &-next-preview
        display: none
      &-prev-preview
        display: none
    &-button
      &-prev1
        outline: none
        background-color: rgba(45, 58, 75, 0.6)
        cursor: default
        &:hover
          background: rgba(45, 58, 75, 0.6) url('../img/arrow-prev.svg') no-repeat center
        &:active
          outline: none
          background: $light url('../img/arrow-prev-hover.svg') no-repeat center
      &-next1
        outline: none
        background-color: rgba(45, 58, 75, 0.6)
        cursor: default
        &:hover
          background: rgba(45, 58, 75, 0.6) url('../img/arrow-next.svg') no-repeat center
        &:active
          outline: none
          background: $light url('../img/arrow-next-hover.svg') no-repeat center
      &-prev2
        outline: none
        cursor: default
        &:hover
          background: url('../img/arrow-prev2.svg') no-repeat center
        &:active
          outline: none
          background-color: $grey
      &-next2
        outline: none
        cursor: default
        &:hover
          background: url('../img/arrow-next2.svg') no-repeat center
        &:active
          background-color: $grey
  .nav
    &__link
      cursor: default
      &:hover
        &::after
          display: none
  .logo
    &__link
      cursor: default
      &:hover
        &::after
          display: none
  .links
    &__item
      cursor: default
      &:hover
        &::after
          display: none
  .card
    &__button
      cursor: default
      &:hover
        color: $dark-blue
        border: 1px solid $blue
        background-color: transparent
      &:active
        color: $light
        background-color: $dark-blue
  .zoom
    &__close
      cursor: default
      &:hover
        background: url('../img/close.svg') no-repeat center / 112%
  .button
    &__zoom
      background-color: transparent
      border: none
      outline: none 
      &:hover
        
        border: none
        outline: none
      &:active
        border: none
        outline: none
      &:clicked
        border: none
        outline: none
      &:checked
        border: none
        outline: none
      &:focus
        outline: none
        border: none
    &__cart
      background-color: transparent
      border: none
      outline: none
      &:hover
        border: none
        outline: none
      &:active
        border: none
        outline: none
      &:clicked
        border: none
        outline: none
      &:checked
        border: none
        outline: none
      &:focus
        outline: none
        border: none
    &__heart
      background-color: transparent
      border: none
      outline: none
      &:hover
        border: none
        outline: none
      &:active
        border: none
        outline: none
      &:clicked
        border: none
        outline: none
      &:checked
        border: none
        outline: none
      &:focus
        outline: none
        border: none
  .icon
    &__heart
      cursor: default
      outline: none
      &:hover
        background: transparent
      &:active
        background: url('../img/heart-hover.svg') no-repeat center / 96%
    &__zoom
      cursor: default
      outline: none
      &:hover
        background: transparent
      &:active
        outline: none
        background: url('../img/zoom-hover.svg') no-repeat center / 96%
    &__cart
      cursor: default
      outline: none
      &:hover
        outline: none
        background: transparent 
      &:active
        outline: none
        background: url('../img/cart-hover.svg') no-repeat center / 96.85%
@media screen and ( max-width: 785px )
  .product
    &__card
      flex-basis: 100%
      align-items: center
      padding: 2rem 0
      &--last
        order: 5
  .card
    &__text
      align-items: center
  .header
    &__menu
      padding: 1rem 0
  .top-products
    &__container
      width: 80%
  .logo
    padding-top: 0.5rem
  .menu
    &__button
      display: block
      width: 50px
      height: 50px
      min-width: 50px
      position: relative
      cursor: default
      outline: none
      border: none
      z-index: 50
      &--active
        background-color: $light
      &:active
        outline: none
      &:hover
        outline: none
      &-item
        position: absolute
        top: 45%
        margin-top: -1px
        left: 50%
        margin-left: -15px
        height: 3px
        width: 30px
        background-color: $light
        &--active
          height: 0
          &::before
            transform: rotate(45deg) !important
            background-color: $purple !important
          &::after
            transform: rotate(-45deg) !important
            background-color: $purple !important
        &::before, &::after
          content: ''
          position: absolute
          top: 45%
          margin-top: -1px
          left: 50%
          margin-left: -15px
          height: 3px
          width: 30px
          background-color: $light
          transition: 0.2s
        &::before
          transform: translateY(-13px)
        &::after
          transform: translateY(13px)
  .links
    &__item
      margin-right: 1.5rem
  .menu
    &__nav
      position: absolute
      right: 0
      top: 60px
      padding-bottom: 0
      flex-direction: column
      max-width: 19rem
      z-index: 500
      background-color: $light
      transition: 0.3s
      transform: translateX(100%)
      transform-origin: 15rem -1rem
      opacity: 0
      z-index: 1
      &--active
        opacity: 1
        transform: translateX(0%)
        z-index: 50
    &__links
      justify-content: flex-end
      max-width: 41rem
  .nav
    &__link
      color: $purple
      text-align: center
      padding: 1rem 2rem 
      border: 1px solid $purple
      &:first-child
        border-top: none
      &:active
        outline: none
        background-color: $purple
        color: $light
  .section
    &__hero
      min-height: 20rem
  .swiper
    &-slide
      &__heading
        font-size: 1.4rem
        letter-spacing: 0.1rem
      &__description
        font-size: 2rem
        &--big
          font-size: 4rem
      &__first
        background: url('../img/slide-first-bg.jpg') no-repeat center / cover
      &__second
        background: url('../img/slide-second-bg.jpg') no-repeat center / cover
      &__third
        background: url('../img/slide-third-bg.jpg') no-repeat center / cover
      &__heading
        font-size: 1.4rem
      &__description
        font-size: 2.5rem
        &--big
          font-size: 7rem
    &-button
      &-prev1
        width: 50px
        height: 50px
        cursor: default
        &-wrap
          width: 50px
          height: 50px
        &:hover
          background: rgba(45, 58, 75, 0.6) url('../img/arrow-prev.svg') no-repeat center
        &::after
          display: none
        &::before
          width: 50px
          height: 50px
          z-index: 1
      &-next1
        width: 50px
        height: 50px
        cursor: default
        &:hover
          background: rgba(45, 58, 75, 0.6) url('../img/arrow-next.svg') no-repeat center
        &-wrap
          width: 50px
          height: 50px
  .swiper1
    &-slide
      padding: 3rem 0 5.6rem
  .zoom
    &__close
      right: 5px
      top: 5px
      background: url('../img/close-mobile.svg') no-repeat center / 112%
      &:hover
        background: url('../img/close-mobile.svg') no-repeat center / 112%
@media screen and ( max-width: 574px )
  .top-products
    &__container
      width: 100%
  .swiper1
    &-slide
      padding: 3rem 0 5.6rem
      &__heading
        font-size: 1.4rem
        letter-spacing: 0.1rem
      &__description
        font-size: 1.9rem
        letter-spacing: 0.2rem
        &--big
          font-size: 4.5rem
      &__link
        font-size: 1.3rem
        padding: 1.2rem 2.8rem
  .product
    &-card
      align-items: center
@media screen and ( max-width: 375px )
  .swiper1
    &-slide
      padding: 2rem 0 5.6rem
  .swiper
    &-slide
      &__text
        padding-left: 0.7rem
      &__heading
        font-size: 1.4rem
        letter-spacing: 0.1rem
      &__description
        font-size: 1.8rem
        letter-spacing: 0.2rem
        &--big
          font-size: 3.8rem
      &__price
        max-width: 26rem
      &__link
        font-size: 1rem
        padding: 1rem 1.4rem
      &__pricetag
        font-size: 3rem
        padding: 0 2rem 0 2rem
      &__sup
        font-size: 1.38rem
        padding: 0.4rem 0 0 0
      &__currency
        position: relative
        font-family: Gotham Pro
        font-size: 1.5rem
        font-weight: 700
        padding: 1.5rem 0 0 0