.product
  &__wrap
    display: flex
    flex-wrap: wrap
  &__card
    display: flex
    flex-basis: 50%
    flex-direction: column
    &--left
      padding: 2.1429rem 0 6.8rem 8.6429rem
      align-items: flex-start
    &--right
      padding: 2.1429rem 8.6429rem 6.8rem 0
      align-items: flex-end
    &--blue
      background-color: #f3f7f9
  &-card
    &__image
      &-wrap
        width: fit-content
.card
  &__text
    margin-bottom: 2.1rem
    &--left
      display: flex
      flex-direction: column
      align-items: flex-end
    &--right
      display: flex
      flex-direction: column
      align-items: flex-start
  &__image
    &-wrap
      margin-bottom: 1.7rem
  &__pricetag
    display: flex
    font-size: 1.2857rem
    font-family: Gotham Pro-Black
    line-height: 2rem
    font-weight: 400
    color: $pink
    margin-bottom: 0.8rem
  &__currency
    display: flex
    padding: 0 0.3571rem 0.25rem 0
  &__heading
    text-transform: uppercase
    font-family: Gotham Pro-Bold
    font-weight: 700
    font-size: 1.5rem
    letter-spacing: 0.06rem
    margin: 0
    margin-bottom: 1.2rem
  &__info
    &-wrap
