.shop
  &__content
    display: flex
    flex-direction: column
    align-items: center
  &-title
    &__heading
      margin-bottom: 2.3rem
    &__text
      max-width: 66.8571rem
  &__section
    &-title
      margin-bottom: 4.4rem
  &__socials
    display: flex
    justify-content: space-between
    width: 100%
    max-width: 9.5rem
.socials
  height: 18px  
  width: 17px
  &__vk
    width: 11px
    background: url('../img/vk-icon.png') no-repeat center
    &:hover
      background: url('../img/vk-hover-icon.png') no-repeat center
  &__facebook
    background: url('../img/facebook-icon.png') no-repeat center
    &:hover
      background: url('../img/facebook-hover-icon.png') no-repeat center
  &__twitter
    background: url('../img/twitter-icon.png') no-repeat center
    &:hover
      background: url('../img/twitter-hover-icon.png') no-repeat center
  &__ok
    background: url('../img/ok-icon.png') no-repeat center
    &:hover
      background: url('../img/ok-hover-icon.png') no-repeat center
  &__youtube
    background: url('../img/youtube-icon.png') no-repeat center
    &:hover
      background: url('../img/youtube-hover-icon.png') no-repeat center
